html {
  scroll-behavior: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

section {
  padding-top: 1rem;
}

/* font responsive size */

.jumbotron .fontsize (max-width: 50%) {
  .jumbotron .display-1 {
    font-size: 27px;
  }
}

/* akhir font responsive size */

/*Jumbotron*/

.jumbotron {
  background-image: url(/images/jumbotron1.jpg);
  background-size: cover;
  padding-top: 8rem;
  width: 100%;
  color: white;
}

.jumbotron .display-1 {
  padding-top: 2rem;
  font-size: 54px;
  font-weight: 900;
}

.jumbotron .display-2 {
  font-size: 54px;
  font-weight: 900;
}

.jumbotron .pdetails {
  font-size: 20px;
  font-weight: 500;
}

.jumbotron .hello {
  font-size: 48;
  font-weight: 600;
}

h3 {
  font-weight: 700;
  font-size: 35px;
}

/*Akhir Jumbotron*/

/*Navbar*/
.navbar {
  background-color: #00bfa6;
}

.navbar .navbar-nav .nav-link {
  font-size: medium;
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: yellow;
  font-size: large;
}

.navbar .navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar .navbar-text {
  color: white;
  font-size: 17px;
}
/*Akhir Navbar*/

/*form*/

/* Mobile Responsive */
@media only screen and (max-width: 480px) {
  /* Navbar */
  .navbar .navbar-nav .nav-link {
    font-size: small;
    color: white;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: yellow;
    font-size: medium;
  }

  .navbar .navbar-brand {
    color: white;
    font-size: 20px;
  }

  .navbar .navbar-text {
    color: white;
    font-size: 15px;
  }
  /* Akhir Navbar */

  /* Title */

  .jumbotron .display-2 {
    padding: 4;
    font-size: 30px;
    font-weight: 900;
  }

  .jumbotron .pdetails {
    font-size: 12px;
    font-weight: 500;
  }

  /* AKhir title */
}
/* Akhir Mobile Responsive */
