html {
  scroll-behavior: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

section {
  padding-top: 1rem;
}

/*Jumbotron*/

.jumbotron {
  background-image: url(/images/jumbotron1.jpg);
  background-size: cover;
  padding-top: 8rem;
  height: auto;
  width: 100%;
  color: white;
}

.jumbotron .display-1 {
  padding-top: 2rem;
  font-size: 54px;
  font-weight: 900;
}

.jumbotron .display-2 {
  font-size: 54px;
  font-weight: 900;
}

.jumbotron .pdetails {
  font-size: 20px;
  font-weight: 500;
}

/*Akhir Jumbotron*/

/*Navbar*/
.navbar {
  background-color: #00bfa6;
}

.navbar .navbar-nav .nav-link {
  font-size: medium;
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: yellow;
  font-size: large;
}

.navbar .navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar .navbar-text {
  color: white;
  font-size: 17px;
}
/*Akhir Navbar*/

/* Form */

.radiotext {
  font-size: 17px;
  font-weight: 600;
  color: white;
}

.container .row .col-md-4 .container .h3 {
  font-size: 40;
  color: white;
  font-weight: 600;
}

.container .row .custombg {
  background-color: #00bfa6;
}

form .btn {
  margin-top: 3;
  margin-bottom: auto;
}
/* akhir form*/

/* Mobile Responsive */
@media only screen and (max-width: 480px) {
  /* Navbar */
  .navbar .navbar-nav .nav-link {
    font-size: small;
    color: white;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: yellow;
    font-size: medium;
  }

  .navbar .navbar-brand {
    color: white;
    font-size: 20px;
  }

  .navbar .navbar-text {
    color: white;
    font-size: 15px;
  }
  /* Akhir Navbar */

  /* Title */

  .jumbotron .display-2 {
    font-size: 30px;
    font-weight: 900;
  }

  .jumbotron .pdetails {
    font-size: 12px;
    font-weight: 500;
  }

  /* AKhir title */

  /* Form */

  .container .row {
    padding: 0rem 2rem 2rem 2rem;
    font-size: 12px;
  }

  .radiotext {
    font-size: 12px;
    font-weight: 500;
    color: white;
  }

  .input-group .input-group-sm .container .row .col-md-4 .container h3 {
    font-size: 19px;
    color: white;
    font-weight: 600;
  }

  /* Akhhir form */
}
