html {
  scroll-behavior: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: white;
}

section {
  padding-top: 5rem;
}

/* font responsive size */

.jumbotron .fontsize (max-width: 50%) {
  .jumbotron .display-1 {
    font-size: 27px;
  }
}

/* akhir font responsive size */

/*Jumbotron*/
.jumbotron {
  background-color: white;
  background-size: cover;
  height: auto;
  padding: auto;
  padding-top: 8rem;
  width: 100%;
  color: black;
}

.jumbotron .row .col-4 img {
  position: absolute;
  width: fit-content;
  right: 100px;
  top: 40px;
}

.jumbotron .row .col-sm button {
  color: #00bfa6;
  position: absolute;
  left: 164px;
  top: 10px;
}

.title {
  background-color: white;
  background-size: contain;
  height: 300x;
  width: 100%;
  margin-top: 8rem;
  color: black;
}

.titledetails {
  background-color: white;
  background-size: contain;
  height: 200px;
  width: 100%;
  color: black;
}

.jumbotron .display-1 {
  width: auto;
  max-height: 1000px;
  left: 164px;
  bottom: auto;
  margin-top: auto;
  font-size: 54px;
  font-weight: 800;
}

.titledetails .display-1 {
  padding-top: auto;
  font-size: 54px;
  font-weight: 900;
}

.titledetails .display-2 {
  font-size: 54px;
  font-weight: 900;
}

.jumbotron p {
  font-size: 20px;
}

.titledetails .pdetails {
  font-size: 20px;
  font-weight: 500;
}

.jumbotron .hello {
  font-size: 48;
  font-weight: 600;
}

/*Akhir Jumbotron*/

/*Navbar*/
.navbar {
  margin-top: -22px;
  height: 55px;
  background-color: #00bfa6;
}

.navbar .navbar-nav .nav-link {
  font-size: medium;
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: yellow;
}

.navbar .navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar .navbar-text {
  color: white;
  font-size: 17px;
}
/*Akhir Navbar*/

/* Container */

.container .row .col-md-4 .container .h3 {
  font-size: 10;
  color: white;
  font-weight: 600;
}
/*form*/

.container .row .custombg {
  background-color: #00bfa6;
}

.container .row .col-md-4 .container .h3 .radiotext {
  color: white;
}

/*form*/

/*Card*/

.card {
  width: 12rem;
  font-size: 10;
}

/*Card*/
